<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/listContainer.css">
    <link rel="stylesheet" href="css/pop-up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Tienda Online</title>
    <link rel="icon" type="image/png" href="images/favicon.pgn">
</head>
<body>
        <header class="main-header">
            <div class="container container--flex">
                <div class="main-header__container">
                <h1 class="main-header__title">BIKES</h1>
                <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
                <nav class="main-nav" id="main-nav">
                    <ul class="menu">
                        <li class="menu__item"><a href="" class="menu__link">HOME</a></li>
                        <li class="menu__item"><a href="/profile" class="menu__link">PROFILE</a></li>
                        <li class="menu__item"><a href="" class="menu__link">SHOP</a></li>
                        <li class="menu__item"><a href="" class="menu__link">CONTACT</a></li>
                        <li class="menu__item">
                            <form action="/logout" method="get">
                                <button class="btn_default menu__link" id="botónLogOut">LOGOUT</button>
                            </form>
                        </li>
                    </ul>
                </nav>
                </div>
                <div class="main-header__container">
                    <span class="main-header__help">Need Help</span>
                    <p class="main-header__help"><i class="fas fa-phone"> 11-22334455 </i></p>
                </div>
                <div class="main-header__container">
                    <span class="main-header__link" href=""><i class="fas fa-user"></i>{{this.alias}}</span>
                    <span class="btn_default main-header__btn" id="btn-cart" href="">My Cart <i class="fas fa-shopping-cart"></i></span>
                    <div class="hide" id="visible">
                    <section class="shopping__cart" id="shopping__cart">
                        <div class="shopping__cart-container">
                            <button class="btn_hide" id="btn_hide"><i class="fa-solid fa-xmark"></i></button>
                            <h2 class="shopping__cart-txt">CARRITO</h2>
                            <div class="shopping__cart-col shoppingCartItemContainer">
                            </div>
                            <div class="shopping__cart-total">
                                <div class="shoppingCartQuantity">
                                    <p class="shopping__cart-txt">TOTAL :</p>
                                    <p class="shoppingCartTotal"> $0.00</p>
                                </div>
                                <div class=" shoppingCartButtonBuy">
                                    <button class="comprarButton btn__addToCart">COMPRAR</button>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
            </div>
        </header>
        <div class="container container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="images/slider1.webp" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Bikes Sunshine</h2>
                        <a href="" class="slider__link">SHOP NOW</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="images/slider2.webp" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Payment methods</h2>
                        <a href="" class="slider__link">See more</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="images/slider3.webp" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Topmega bikes</h2>
                        <a href="" class="slider__link">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
        </div>
        <main class="container main">
            <h2 class="main-title">New Bikes for you</h2>
            <section class="container-products" id="container-products">
                {{#each products}}
                    <div class="product" data-id={{this._id}}>
                        <img src="{{this.thumbnail}}" alt="{{this.title}}" class="product__img">
                        <div class="product__description">
                            <h3 class="product__title">{{this.title}}</h3>
                            <span class="product__price">${{this.price}}</span>
                        </div>
                        <button class="btn_default btn__addToCart addToCart" href="">AGREGAR AL CARRITO</i></button>
                    </div>
                {{/each}}
                </div>
            </section>
        </main>
        <footer class="main-footer">
            <div class="footer__section">
                <h2 class="footer__title">About Us</h2>
                <p class="footer__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi maiores modi voluptates quis iusto illum odio non voluptatibus ratione est sed, atque rerum. Maiores nam commodi dolores dolore minus nostrum!</p>
            </div>
            <div class="footer__section">
                <h2 class="footer__title">Location:</h2>
                <p class="footer__txt">Av L N Alem 60 Trenque Lauquen Buenos Aires</p>
                <h2 class="footer__title">Contact:</h2>
                <p class="footer__txt">Phone: +54 1122334455</p>
                <p class="footer__txt">Email: TiendaOnline@gmail.com</p>
            </div>
            <div class="footer__section">
                <h2 class="footer__title">Quick Links:</h2>
                <a href="" class="footer__link">Home</a>
                <a href="/profile" class="footer__link">Profile</a>
                <a href="" class="footer__link">Shop</a>
                <a href="" class="footer__link">Contact</a>
                <form action="/logout" method="get">
                    <button class="btn_logout-footer footer__link" id="botónLogOut">Logout</button>
                </form>
            </div>
            <p class="copy">
                © Copyright 2022 - Todos los derechos reservados |  Miguel Angel Guajardo
            </p>
        </footer>

        <div class="pop-up">
            <div class="pop-up-wrap">
                <div class="pop-up-title">
                    <h2>BIKES</h2>
                    <p>Gracias por confiar en nosotros</p>
                </div>
                <div class="sendMail">
                    <div class="line"></div>
                    <i class="fa-sharp fa-regular fa-circle-xmark" id="close"></i>
                    <div class="sub-content">
                        <h2>MUCHAS GRACIAS</h2>
                        <p>Pulsar el botón para poder mandarle la factura.</p>
                        <form action="" method="POST">
                            <button class="subs-send" type="submit">Enviar Factura</button>
                        </form>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        
        <script src="js/listContainer.js"></script>
        <script src="js/tienda.js"></script>
        <script src="js/menu.js"></script>
</body>
</html>